<h1 class="title is-1">A brief, yet interesting history</h1>
<br>

<p>
  I live in Seattle, Washington which rains nearly as much as Wellington, New Zealand where
  I am originally from. I like how Seattle isn't so windy that it sometimes rains up.
</p>
<br>

<p>
  Like so many people, I worked jobs and then I decided to go to a coding bootcamp. I graduated from
  <%= link_to 'Enspiral Dev Academy', 'https://devacademy.co.nz', target: 'blank' %>
  in late 2015 and then I worked there as a teachers assistant which was great fun.
</p>
<br>

<p>
  I have spent the last 2 and a half years in the US immigration process and I am now a proud holder of a work authorisation!
   To keep myself occupied during the immigration wait, I worked on various coding projects for friends and family.
   Spent over 500 hours playing with dogs at the <%= link_to 'San Francisco SPCA', 'https://www.sfspca.org', target: 'blank' %> because dogs are awesome.
   I also Project Managed the shit out of the <%= link_to 'Marin Cricket Clubs', 'https://www.marincricketclub.com/', target: 'blank' %> Social Cricket Program.
   I played for them when I lived in the Bay Area, built them software to automate weekly tasks, improved player engagement, increased membership numbers and club revenue.
</p>
<br>

<p>
  I also organised a cricket tour for 25 people through New Zealand in January of 2020. The Bay
  Area Beavers played 10 games against various clubs around New Zealand and had the time of their lives!
</p>

<%= render 'shared/socials' %>
