<h1 class="title is-1">You Found The Where The Easter Eggs Are Easter Egg!</h1>
<hr>

<p class="is-size-4 has-text-dark">Home Page:</p>
<p>The words <span class="has-text-weight-bold has-text-dark">easter eggs</span> is a hidden link and it brings you here.</p>
<p>
  The word <span class="has-text-weight-bold has-text-dark">dogs</span> is a tooltip but that's obvious. The dog in the picture is Roxy and we
  used to hang out at the <%= link_to 'San Francisco SPCA', 'https://www.sfspca.org', target: 'blank' %>. I hope she is doing well!
</p>
<p>
  The word <span class="has-text-weight-bold has-text-dark">coffee</span> is a tooltip, that is not obvious.
  That's a coffee mug a friend of mine has because she loved it and I didn't want to bring it to America.
</p>
<p>
  In the left hand side of the footer, there is a <span class="has-text-weight-bold has-text-dark">Beep! Button</span>.
  It plays a ding sound and is only visible when you are on the Home page.
</p>
<hr>

<p class="is-size-4 has-text-dark">About Page:</p>
<p>
  The <span class="has-text-weight-bold has-text-dark">navbar image is wonky</span> to draw attention to it.
  It triggers a modal for a <%= link_to 'New Zealand 48 Hour Film Festival', 'https://www.48hours.co.nz/', target: 'blank' %>
  film I helped make instead of the expected action.
</p>
<p>
  The words <span class="has-text-weight-bold has-text-dark">Wellington, New Zealand</span>
  is a hidden link that takes you to some climate data about how much it rains in Wellington, New Zealand.
</p>
<p>
  The words <span class="has-text-weight-bold has-text-dark">"Windy Wellington".</span> is a tooltip that shows you
  the Wellington sign, it was originally going to say "Wellywood" but the locals protested it because that's a terrible name.
</p>
<p>
  The words <span class="has-text-weight-bold has-text-dark">nearly 500 hours</span>
  is a tooltip but you knew that! I wanted to back up my lofty claim about my hours with some evidence.
</p>
<hr>

<p class="is-size-4 has-text-dark">Contact Page:</p>
<p>
  There are no easter eggs on the contact page, but I
  <%= link_to 'wrote a gist', 'https://gist.github.com/redhendery/51b5d2720d7f901154a33cfb88206efc', target: 'blank' %>
  on how to make a simple Contact Page that doesn't hit Active Record. There are not many good,
  simple clean examples I have found so I made one and hopefully it helps someone.
  It has undergone multiple revisions as I hadn't made a Gist before so it took me a few goes to get it to look right.
</p>
