<h3 class="title is-4">Hello my name is Red Hendery and this is my online portfolio. There are easter eggs.</h3>
<br>
<h3 class="title is-4">I am a Ruby on Rails Developer, I have multiple years of experience, I likes dogs and coffee.</h3>
<br>

<h1 class="title is-1">I do these things</h1>
