<p class="is-size-4 has-text-centered">
  Hello my name is Red Hendery and this is my online portfolio.
</p>
<br>

<p class="is-size-4 has-text-centered">
  There are 8 <%= link_to 'easter eggs', egg_cheater_path, style: 'color:#7A7A7A;' %> scattered throughout the site so
  keep your eyes peeled for things that look a little off, out of place or just randomly click stuff and see what happens.
  I did this to show off some developement skills and as a way to tell you more about myself and where I am from in an interseting way.
</p>
<br>
<p class="is-size-4 has-text-centered">
  I am primarily a Ruby on Rails developer with multiple years of experience, I likes
  <span class="tooltip" style="border-bottom: 1px dotted black;">dogs
    <span class="tooltipimage">
      <%= image_tag 'roxy.png', alt: 'Roxy The Dog' %>
    </span>
  </span>
    and
  <span class="tooltip">coffee.
    <span class="tooltipimage">
      <%= image_tag 'coffee.jpg', alt: 'Coffee' %>
    </span>
  </span>
</p>
