<h3 class="title is-3 has-text-centered">Marin Cricket Club</h3>
<a class="modal-button" data-target="#marincricketclub" aria-haspopup="true">
  <%= image_tag 'mcc_website.png', alt: 'Marin Cricket Club' %>
</a>

<div class="modal" id="marincricketclub">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title has-text-centered">Marin Cricket Club</p>
    <button class="delete is-large" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <%= image_tag 'mcc_2.png', alt: 'Marin Cricket Club' %>
      <br>
      <br>
      <p class="has-text-dark">
        For Marin Cricket Club the goal was to allow players to sign up for games, pay for
        memberships and games electornically and to continue to promote the club to public.
        There is a full blown user system, game results, stat tracking and more!
        This is a project that will continue to be updated and evlove over the next few years.
        Recently I began a full rebuild because I was bored and it was ugly, plus I got a solid year and
        of beta testing out of the club members in 2019 so I new it's value to the club and it's volunteers.
      </p>
      <br>
      <p class="has-text-dark">
        I also wanted to take advantage of Webpack and a few other things in Rails 6 too so the rebuild
        is on. Recently I had a fight with spam bots and the Contact form which for now, I am winning.
      </p>
      <br>
      <p class="has-text-dark">
        Built with Rails 6, Bulma, Postgres, Heroku, StimulusJS, SendGrid and some other things.
      </p>
    </section>
    <footer class="modal-card-foot">
      <p class="has-text-dark">
        Take a look <%= link_to 'at the website', 'https://www.marincricketclub.com', target: 'blank' %>
        or have a <%= link_to 'peak at the code', 'https://github.com/redhendery/marin_cricket_website', target: 'blank' %>!
      </p>
    </footer>
  </div>
</div>
