<footer class="footer">
  <div class="content">
    <% if current_page?(root_path) %>
      <button class="beeper">Beep!</button>
    <% end %>

    <p class="has-text-centered has-text-dark">
      &copy; Site built, maintained and desgined by Red Hendery.
    </p>
  </div>
</footer>
